VITE_FIREBASE_API_KEY=AIzaSyAgK4cJMVUmZKzmTZo1qvnHRVcsfF1tFBk
VITE_FIREBASE_AUTH_DOMAIN=learnendo-finanas.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=learnendo-finanas
VITE_FIREBASE_STORAGE_BUCKET=learnendo-finanas.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=622368927761
VITE_FIREBASE_APP_ID=1:622368927761:web:026759b47a8fa0ea3b81b0

VITE_ADMIN_EMAIL=admin@learnendo.com.br