rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Nega tudo por padrão
    match /{document=**} {
      allow read, write: if false;
    }

    // Permite que usuários autenticados escrevam e leiam seus próprios dados
    match /users/{uid}/{document=**} {
      allow read, write: if request.auth.uid == uid;
    }
  }
}
